ul {
  list-style: none;
  margin-left: -36px;
}

.list-item {
  margin-bottom: 60px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 300px;
}

.cover_image {
  width: 230px;
}

.song_name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}